<h1>ユーザー一覧</h1>
<table>
  <tr>
    <th>名前</th>
    <th>年齢</th>
    <th>血液型</th>
    <th>結婚しているか</th>
  </tr>
  <%= render @users %>
</table>

<div class="link">
  <%= link_to 'ユーザー作成', new_user_path %>
</div>